doctype html
html
  head
    title= "test"
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js")
    script(src="/js/test.js")
  body
    p= "login"
    input(type='text',id='username',placeholder='username')
    input(type='text',id='password',placeholder='password')
    p
    input(type='button',id='getCurrentUser',value="get current user")
    input(type='button',id='register',value="register")
    input(type='button',id='login',value="login")
    input(type='button',id='logout',value="logout")
    input(type='button',id='changeUserInfo',value="change user info")
    input(type='button',id='timeline',value="timeline")
    input(type='button',id='foryou',value="foryou")
    input(type='button',id='createEvent',value="createEvent")
    input(type='button',id='likeEvent',value="likeEvent")