body {
    font-family: 'Balsamiq Sans', cursive;
}

footer {
    text-align: center;
    font-size: small;
    color: lightcoral;
}

.container {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    background-color: white;
    min-width: 80%;
    margin-bottom: 0;
}

.color-primary {
    background-color: lightcoral;
}

.text-color-primary {
    color: lightcoral;
}

/*#0677f4*/
.color-light {
    background-color: papayawhip;
}

.color-white {
    background-color: white;
}

.color-gray {
    background-color: #e5e5e5;
}

.banner {
    float: right;
    position: fixed;
    bottom: 0;
    right: -1em;
    writing-mode: vertical-lr;
    color: white;
    opacity: 50%;
    font-size: 10em;
}

#navbar {
    /*border-bottom: lightseagreen solid 10px;*/
}

.newButton {
    float: left;
    position: fixed;
    bottom: 5em;
    left: 5em;
}

.postList {
    list-style: none;
}

.postContent:after {
    /*modified from https://www.w3schools.com/howto/howto_css_timeline.asp*/
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    left: -33px;
    background-color: white;
    border: 10px solid lightcoral;
    top: 10px;
    border-radius: 50%;
    z-index: 1;
}

.postToday:after {
    background-color: #0677f4;
    border: 10px solid lightcoral;
}

.postContent {
    padding: 20px 40px;
    margin-top: 30px;
    min-width: 30%;
    max-width: 65%;
}

.postTimeline {
    padding-right: 50px;
    padding-top: 50px;
    text-align: right;
    border-right: 15px solid lightcoral;
}


.likes {
    color: deeppink;
}

.tagName {
    background-color: lightcoral;
    color: white;
    padding: 5px;
}

.photo {
    text-align: center;
    width: 280px;
    height: 280px;
    display: inline-block;
    overflow: hidden;
}

.photo > img {
    max-width: 100%;
    max-height: 100%;
}

.thumbnail {
  text-align: center;
  width: 100px;
  height: 100px;
  display: inline-block;
  overflow: hidden;
}

.font-italic {
    opacity: 60%;
}

.badge-today {
    background-color: lightcoral;
    color: white;
}

.newButton > * {
    text-shadow: 1px 1px white;
}

.color-activity {
    background-color: orangered;
}

.color-memorial {
    background-color: lightseagreen;
}

.color-weight {
    background-color: orange;
}

.color-vac {
    background-color: darkslateblue;
}

.color-vet {
    background-color: black;
}

.whatsnew {
    width: 200px;
    height: 200px;
    float: right;
}