body {
  font-family: Optima, serif;
}

footer {
  text-align: center;
  font-size: small;
  color: lightcoral;
}

.container {
  padding: 30px;
  background-color: white;
  min-width: 80%;
}

.color-primary {
  background-color: lightcoral;
}

.text-color-primary {
  color: lightcoral;
}

/*#0677f4*/
.color-light {
  background-color: papayawhip;
}

.color-white {
  background-color: white;
}

.banner {
  float: right;
  position: fixed;
  bottom: 0;
  right: -1em;
  writing-mode: vertical-lr;
  color: white;
  opacity: 50%;
  font-size: 10em;
}

.newButton {
  float: left;
  position: fixed;
  bottom: 5em;
  left: 5em;
}