body {
  font-family: Optima, serif;
}

footer {
  text-align: center;
  font-size: small;
  color: lightcoral;
}

.container {
  padding-top: 80px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: white;
  min-width: 80%;
  margin-bottom: 0;
}

.color-primary {
  background-color: lightcoral;
}

.text-color-primary {
  color: lightcoral;
}

/*#0677f4*/
.color-light {
  background-color: papayawhip;
}

.color-white {
  background-color: white;
}

.banner {
  float: right;
  position: fixed;
  bottom: 0;
  right: -1em;
  writing-mode: vertical-lr;
  color: white;
  opacity: 50%;
  font-size: 10em;
}

.newButton {
  float: left;
  position: fixed;
  bottom: 5em;
  left: 5em;
}

.postList {
  list-style: none;
}

.postContent:after {
  /*modified from https://www.w3schools.com/howto/howto_css_timeline.asp*/
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  left: -22px;
  background-color: white;
  border: 5px solid lightcoral;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.postContent {
  padding: 20px 40px;
  margin-top: 30px;
  min-width: 50%;
  max-width: 65%;
}

.postTimeline {
  padding: 50px;
  text-align: right;
  border-right: 15px solid lightcoral;
}
.likes {
  color: deeppink;
}

.tagName {
  background-color: lightcoral;
  color: white;
  padding: 5px;
}